<!DOCTYPE html>
<html lang="en">
<head th:replace="head_style :: head"></head>
<body>

  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
    



    <header th:insert="header"/>



    <div class="container-fluid" data-aos="fade" data-aos-delay="500">
      <div class="row">
        <div class="col-lg-4">

          <div class="image-wrap-2">
            <div class="image-info">
              <h2 class="mb-3">Nature</h2>
              <a th:href="'single'" class="btn btn-outline-white py-2 px-4">Больше фото</a>
            </div>
            <img src="images/img_1.jpg" alt="Image" class="img-fluid">
          </div>

        </div>
        <div class="col-lg-4">
          <div class="image-wrap-2">
            <div class="image-info">
              <h2 class="mb-3">Portrait</h2>
              <a th:href="'single'" class="btn btn-outline-white py-2 px-4">Больше фото</a>
            </div>
            <img src="images/img_2.jpg" alt="Image" class="img-fluid">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="image-wrap-2">
            <div class="image-info">
              <h2 class="mb-3">People</h2>
              <a th:href="'single'" class="btn btn-outline-white py-2 px-4">Больше фото</a>
            </div>
            <img src="images/img_3.jpg" alt="Image" class="img-fluid">
          </div>
        </div>

        <div class="col-lg-4">
          <div class="image-wrap-2">
            <div class="image-info">
              <h2 class="mb-3">Architecture</h2>
              <a th:href="'single'" class="btn btn-outline-white py-2 px-4">Больше фото</a>
            </div>
            <img src="images/img_4.jpg" alt="Image" class="img-fluid">
          </div>
        </div>

        <div class="col-lg-4">
          <div class="image-wrap-2">
            <div class="image-info">
              <h2 class="mb-3">Animals</h2>
              <a th:href="'single'" class="btn btn-outline-white py-2 px-4">Больше фото</a>
            </div>
            <img src="images/img_5.jpg" alt="Image" class="img-fluid">
          </div>
        </div>

        <div class="col-lg-4">
          <div class="image-wrap-2">
            <div class="image-info">
              <h2 class="mb-3">Sports</h2>
              <a th:href="'single'" class="btn btn-outline-white py-2 px-4">Больше фото</a>
            </div>
            <img src="images/img_6.jpg" alt="Image" class="img-fluid">
          </div>
        </div>

        <div class="col-lg-4">
          <div class="image-wrap-2">
            <div class="image-info">
              <h2 class="mb-3">Travel</h2>
              <a th:href="'single'" class="btn btn-outline-white py-2 px-4">Больше фото</a>
            </div>
            <img src="images/img_7.jpg" alt="Image" class="img-fluid">
          </div>
        </div>

        <div class="col-lg-4">
          <div class="image-wrap-2">
            <div class="image-info">
              <h2 class="mb-3">People</h2>
              <a th:href="'single'" class="btn btn-outline-white py-2 px-4">Больше фото</a>
            </div>
            <img src="images/img_3.jpg" alt="Image" class="img-fluid">
          </div>
        </div>

        <div class="col-lg-4">
          <div class="image-wrap-2">
            <div class="image-info">
              <h2 class="mb-3">Architecture</h2>
              <a th:href="'single'" class="btn btn-outline-white py-2 px-4">Больше фото</a>
            </div>
            <img src="images/img_4.jpg" alt="Image" class="img-fluid">
          </div>
        </div>

      </div>
    </div>


    
    
  </div>

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/jquery.countdown.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/bootstrap-datepicker.min.js"></script>
  <script src="js/swiper.min.js"></script>
  <script src="js/aos.js"></script>

  <script src="js/picturefill.min.js"></script>
  <script src="js/lightgallery-all.min.js"></script>
  <script src="js/jquery.mousewheel.min.js"></script>

  <script src="js/main.js"></script>
  
  <script>
    $(document).ready(function(){
      $('#lightgallery').lightGallery();
    });
  </script>

</body>
</html>