<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Work Days</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        input[type="text"], input[type="date"] {
            width: 100%;
            padding: 5px;
        }
        input[type="submit"] {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }
    </style>
</head>
<body>

<h2>Edit Work Days</h2>

<label for="datepicker">Select Date:</label>
<input type="date" id="datepicker" name="datepicker">

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Price</th>
        <th>Day</th>
        <th>User</th>
        <th>Administration</th>
        <th>Photograph</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="workDay : ${workDays}">
        <td th:text="${workDay.id}"></td>
        <td><input type="text" th:value="${workDay.price}"></td>
        <td><input type="date" th:value="${workDay.day}"></td>
        <td><input type="text" th:value="${workDay.user.name}"></td>
        <td><input type="text" th:value="${workDay.administration.name}"></td>
        <td><input type="text" th:value="${workDay.photograph.name}"></td>
        <td><input type="submit" value="Save"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
